<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List - pmd Demo</title>
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <main class="root">
        <h1 id="component-name">List</h1>
        <div class="demo-area">
            <div class="pmd-list">
                <div class="pmd-list-item">
                    <div class="pmd-list-item-primary">Item</div>
                    <button class="pmd-list-item-action pmd-button pmd-button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>
                    </button>
                </div>
            </div>
            <h3>Secondary text</h3>
            <div class="pmd-list pmd-list--two-line">
                <div class="pmd-list-item">
                    <div class="pmd-list-item-primary">
                        <div class="pmd-list-item-primary">Item</div>
                        <div class="pmd-list-item-secondary-text">secondary text</div>
                    </div>
                    <button class="pmd-list-item-action pmd-button pmd-button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>
                    </button>
                </div>
            </div>
            <h3>Avatar</h3>
            <div class="pmd-list pmd-list--avatar">
                <div class="pmd-list-item">
                    <div class="pmd-list-item-icon"><img src="../../resources/image/demo.png"></div>
                    <div class="pmd-list-item-primary">
                        <div class="pmd-list-item-primary">Item</div>
                    </div>
                    <button class="pmd-list-item-action pmd-button pmd-button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <script defer type="module" src="./index.js"></script>
</body>
</html>
