<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bottom App Bar - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Bottom App Bar</h1>
    <div class="demo-area">
      <h3>Basic</h3>
      <div class="demo-content">
        <header id="demo-bottom-appbar-basic" class="demo-appbar pmd-appbar pmd-bottom-appbar">
          <section class="pmd-appbar-section pmd-appbar-section--align-start">
            <button class="pmd-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
              </svg>
            </button>
          </section>
          <section class="pmd-appbar-section pmd-top-appbar-section--align-end">
            <button class="pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                <path d="M0 0h24v24H0z" fill="none" />
              </svg>
            </button>
            <button class="pmd-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
              </svg>
            </button>
          </section>
        </header>
      </div>
    </div>
    <h3>Animation</h3>
    <div class="demo-appbar-animations">
      <div>
        <h3>Fixed Prominent</h3>
        <iframe class="demo-appbar-frame" src="https://cano-ypa.github.io/pmd-demo/component/appbar/fixedprominent/"></iframe>
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
