<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Bar - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">App Bar</h1>
    <h3>Top App Bar</h3>
    <div class="demo-area">
      <h3>Basic</h3>
      <div class="demo-content">
        <header class="sample-top-appbar pmd-top-appbar">
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-start">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
              </svg>
            </button>
            <div class="pmd-top-appbar-title">App Bar</div>
          </section>
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-end">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
              </svg>
            </button>
          </section>
        </header>
      </div>
      <h3>Center content</h3>
      <div class="demo-content">
        <header class="sample-top-appbar pmd-top-appbar">
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-start">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
              </svg>
            </button>
            <div class="pmd-top-appbar-title">App Bar</div>
          </section>
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-center">
            <div class="pmd-search-view">
              <div class="pmd-search-view-navigation-icon">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </svg>
              </div>
              <input type="text" class="pmd-search-view-input" placeholder="Search">
              <button class="pmd-search-view-action-icon">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </svg>
              </button>
            </div>
          </section>
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-end">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
              </svg>
            </button>
          </section>
        </header>
      </div>
      <h3>Prominent</h3>
      <div class="demo-content">
        <header class="sample-top-appbar pmd-top-appbar pmd-top-appbar--prominent">
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-start">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
              </svg>
            </button>
            <div class="pmd-top-appbar-title">App Bar</div>
          </section>
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-end">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
              </svg>
            </button>
          </section>
        </header>
      </div>
      <h3>Secondary content</h3>
      <div class="demo-content">
        <header class="sample-top-appbar pmd-top-appbar pmd-top-appbar--secondary">
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-start">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
              </svg>
            </button>
            <div class="pmd-top-appbar-title">App Bar</div>
          </section>
          <section class="pmd-top-appbar-section pmd-top-appbar-section--align-end">
            <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
              </svg>
            </button>
          </section>
          <section class=".pmd-top-appbar-section pmd-top-appbar-section--secondary">
            <div id="demo-top-appbar-secondary-tab" class="pmd-tab-bar" role="tablist">
              <div class="pmd-tab-scroller" role="tablist">
                <button class="pmd-tab-item" role="tab">Tab 1</button>
                <button class="pmd-tab-item" role="tab">Tab 2</button>
                <button class="pmd-tab-item" role="tab">Tab 3</button>
                <div class="pmd-tab-Indicator"></div>
              </div>
            </div>
          </section>
        </header>
      </div>
    </div>
    <h3>Animation</h3>
    <div class="demo-appbar-animations">
      <div>
        <h3>Fixed Prominent</h3>
        <iframe class="demo-appbar-frame" src="https://cano-ypa.github.io/pmd-demo/component/appbar-top/fixedprominent/"></iframe>
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
