<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bottom Navigation - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Bottom Navigation</h1>
    <div class="demo-area">
      <div class="demo-content">
        <div id="demo-bottom-navigation" class="pmd-bottom-navigation">
          <div class="pmd-bottom-navigation-item">
            <div class="pmd-bottom-navigation-icon material-icons">insert_photo</div>
            <div class="pmd-bottom-navigation-title">Photo</div>
          </div>
          <div class="pmd-bottom-navigation-item">
            <div class="pmd-bottom-navigation-icon material-icons">collections_bookmark</div>
            <div class="pmd-bottom-navigation-title">Album</div>
          </div>
          <div class="pmd-bottom-navigation-item">
            <div class="pmd-bottom-navigation-icon material-icons">assistant</div>
            <div class="pmd-bottom-navigation-title">Assistant</div>
          </div>
          <div class="pmd-bottom-navigation-item">
            <div class="pmd-bottom-navigation-icon material-icons">people</div>
            <div class="pmd-bottom-navigation-title">Share</div>
          </div>
        </div>
      </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
