<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tab - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Tab</h1>
    <div class="demo-area">
      <div class="demo-content">
        <div id="demo-tab" class="pmd-tab-bar" role="tablist">
          <div class="pmd-tab-scroller" role="tablist">
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="1">Tab 1</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="2">Tab 2</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="3">Tab 3</button>
            <div class="pmd-tab-indicator"></div>
          </div>
        </div>
      </div>
      <h2>Scroll</h2>
      <div class="demo-content">
        <div id="demo-tab-scroll" class="pmd-tab-bar" role="tablist">
          <div class="pmd-tab-scroller" role="tablist">
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="1">Tab 1</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="2">Tab 2</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="3">Tab 3</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="4">Tab 4</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="5">Tab 5</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="6">Tab 6</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="7">Tab 7</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="8">Tab 8</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="9">Tab 9</button>
            <button class="pmd-tab-item pmd-ripple" role="tab" tabindex="0" data-pmd-tab-value="10">Tab 10</button>
            <div class="pmd-tab-indicator"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
