<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dialog - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Dialog</h1>
    <div class="demo-area">
      <div class="demo-content">
        <div class="pmd-dialog-dialog">
          <div class="pmd-dialog-header">
            <div class="pmd-dialog-title">Title</div>
          </div>
          <div class="pmd-dialog-body">body</div>
          <div class="pmd-dialog-footer">
            <div class="pmd-dialog-buttons">
              <button class="pmd-button pmd-button-flat">action</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
