<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Select - pmd Demo</title>
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <main class="root">
        <h1 id="component-name">Select</h1>
        <div class="demo-area">
            <div class="demo-content">
                <div id="demo-select" class="pmd-select">
                    <select class="pmd-select-control">
                        <option value="" selected></option>
                        <option value="select_1">Select 1</option>
                        <option value="select_2">Select 2</option>
                        <option value="select_3">Select 3</option>
                    </select>
                    <label class="pmd-floating-label">Select</label>
                    <div class="pmd-line-ripple"></div>
                </div>
            </div>
        </div>
    </main>
    <script defer type="module" src="./index.js"></script>
</body>
</html>
