<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Button - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Button</h1>
    <div class="demo-area">
      <div class="demo-content">
        <button class="pmd-button pmd-button-contained">button</button>
      </div>
    </div>
    <h3>Text</h3>
    <div>
      <button class="pmd-button pmd-button-flat">button</button>
      <button class="pmd-button pmd-button-dence pmd-button-flat">button</button>
      <button class="pmd-button pmd-button-flat"><i class="pmd-button--icon material-icons">favorite</i>button</button>
      <button class="pmd-button pmd-button-flat" disabled>button</button>
    </div>
    <h3>Outline</h3>
    <div>
      <button class="pmd-button pmd-button-outline">button</button>
      <button class="pmd-button pmd-button-dence pmd-button-outline">button</button>
      <button class="pmd-button pmd-button-outline"><i class="pmd-button--icon material-icons">favorite</i>button</button>
      <button class="pmd-button pmd-button-outline" disabled>button</button>
    </div>
    <h3>Contained</h3>
    <div>
      <button class="pmd-button pmd-button-contained">button</button>
      <button class="pmd-button pmd-button-dence pmd-button-contained">button</button>
      <button class="pmd-button pmd-button-contained"><i class="pmd-button--icon material-icons">favorite</i>button</button>
      <button class="pmd-button pmd-button-contained" disabled>button</button>
    </div>
    <h3>Toggle</h3>
    <div>
      <div class="pmd-button-toggle-container">
        <button class="pmd-button pmd-button-toggle material-icons">format_align_center</button>
        <button class="pmd-button pmd-button-toggle material-icons">format_align_left</button>
        <button class="pmd-button pmd-button-toggle material-icons">format_align_right</button>
      </div>
      <div class="pmd-button-toggle-container">
        <button class="pmd-button pmd-button-toggle material-icons" disabled>format_italic</button>
        <button class="pmd-button pmd-button-toggle material-icons">format_bold</button>
        <button class="pmd-button pmd-button-toggle material-icons">format_underlined</button>
      </div>
    </div>
    <h3>Icon</h3>
    <div>
      <button class="pmd-button pmd-button-icon material-icons">favorite</button>
      <button class="pmd-button pmd-button-dence pmd-button-icon material-icons">favorite</button>
      <button class="pmd-button pmd-button-icon material-icons" disabled>favorite</button>
    </div>
    <h3>Floating</h3>
    <div>
      <button class="pmd-button pmd-button-floating material-icons">add</button>
      <button class="pmd-button pmd-button-dence pmd-button-floating material-icons">add</button>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
