<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drawer - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Drawer</h1>
    <div class="demo-area">
      <div class="demo-content">
        <div id="sample-drawer" class="pmd-drawer-drawer">
          <div class="pmd-drawer-header">
            <div class="pmd-drawer-header-title">Title</div>
            <div class="pmd-drawer-header-subtitle">subtitle</div>
          </div>
          <div class="pmd-drawer-content">
            <ul class="pmd-drawer-nav">
              <li class="pmd-drawer-nav-item">content</li>
              <li class="pmd-drawer-nav-item">content</li>
            </ul>
            <ul class="pmd-drawer-nav">
              <li class="pmd-drawer-nav-item">content</li>
              <li class="pmd-drawer-nav-item">content</li>
            </ul>
            <ul class="pmd-drawer-sab-nav">
              <li class="pmd-drawer-sub-nav-item">content</li>
              <li class="pmd-drawer-sub-nav-item">content</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <h3>Animation</h3>
    <div class="demo-drawer-animations">
      <div>
        <h3>Modal</h3>
        <iframe class="demo-appbar-frame" src="/component/drawer/modal/"></iframe>
        <!--- /pmd-demo/component/drawer/modal/ --->
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
