<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Card - pmd Demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Card</h1>
    <div class="demo-area">
      <div class="demo-content">
        <div class="pmd-card">
          <div class="pmd-card-primary-action">
            <div class="pmd-card-primary-header">
              <div class="pmd-card-media-icon"></div>
              <div class="pmd-card-primary">
                <div class="pmd-card-title">Title</div>
                <div class="pmd-card-subtitle">Subtitle</div>
              </div>
            </div>
            <div class="pmd-card-media"></div>
            <div class="pmd-card-body">body</div>
          </div>
          <div class="pmd-card-actions">
            <button class="pmd-button pmd-button-flat">Button</button>
            <button class="pmd-button pmd-button-flat">Button</button>
          </div>
        </div>
      </div>
    </div>
    <div class="pmd-card">
      <div class="pmd-card-primary-action">
        <div class="pmd-card-media"></div>
        <div class="pmd-card-primary">
          <div class="pmd-card-title">Title</div>
          <div class="pmd-card-subtitle">Subtitle</div>
        </div>
        <div class="pmd-card-body">body</div>
        <div class="pmd-card-actions">
          <button class="pmd-button pmd-button-flat">Button</button>
          <button class="pmd-button pmd-button-flat">Button</button>
        </div>
      </div>
    </div>
    <div class="pmd-card">
      <div class="pmd-card-media"></div>
      <div class="pmd-card-main">
        <div class="pmd-card-body">body</div>
      </div>
    </div>
    <div class="pmd-card pmd-card--row">
      <div class="pmd-card-primary-action">
        <div class="pmd-card-media"></div>
        <div class="pmd-card-primary">
          <div class="pmd-card-title">Title</div>
          <div class="pmd-card-subtitle">Subtitle</div>
        </div>
      </div>
      <div class="pmd-card-actions">
        <button class="pmd-button pmd-button-flat">Button</button>
        <button class="pmd-button pmd-button-flat">Button</button>
      </div>
    </div>
    <div class="pmd-card pmd-card--row">
      <div class="pmd-card-primary-action">
        <div class="pmd-card-primary">
          <div class="pmd-card-title">Title</div>
          <div class="pmd-card-subtitle">Subtitle</div>
        </div>
        <div class="pmd-card-media--dence"></div>
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
