<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Field - pmd demo</title>
  <link rel="stylesheet" href="../../index.css">
</head>
<body>
  <main class="root">
    <h1 id="component-name">Text Field</h1>
    <div id="demo-area">
      <h3>Field</h3>
      <div class="demo-content">
        <div class="pmd-text-field-container demo-text-field">
          <div class="pmd-text-field">
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">demo</label>
            <div class="pmd-line-ripple"></div>
          </div>
        </div>
        <div class="pmd-text-field-container demo-text-field">
          <div class="pmd-text-field pmd-text-field--dence">
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">dence</label>
            <div class="pmd-line-ripple"></div>
          </div>
        </div>
        <div class="pmd-text-field-container demo-text-field">
          <div class="pmd-text-field">
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">dence</label>
            <div class="pmd-line-ripple"></div>
          </div>
          <p class="pmd-text-field-helper">Helper Text</p>
        </div>
      </div>
      <h3>Outline</h3>
      <div class="demo-content">
        <div class="pmd-text-field-container demo-text-field">
          <div class="pmd-text-field pmd-text-field--outline">
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">demo</label>
          </div>
        </div>
        <div class="pmd-text-field-container demo-text-field">
          <div class="pmd-text-field pmd-text-field--outline pmd-text-field--dence">
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">dence</label>
          </div>
        </div>
        <div class="pmd-text-field-container demo-text-field">
          <div class="pmd-text-field pmd-text-field--outline">
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">dence</label>
          </div>
          <p class="pmd-text-field-helper">Helper Text</p>
        </div>
      </div>
      <h3>With icon</h3>
      <div class="demo-content">
        <div class="pmd-text-field-container pmd-text-field-with-icon demo-text-field">
          <div class="pmd-text-field">
            <div class="pmd-text-field-icon material-icons">edit</div>
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">demo</label>
            <div class="pmd-line-ripple"></div>
          </div>
        </div>
        <div class="pmd-text-field-container pmd-text-field-with-icon demo-text-field">
          <div class="pmd-text-field pmd-text-field--dence">
            <div class="pmd-text-field-icon material-icons">edit</div>
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">dence</label>
            <div class="pmd-line-ripple"></div>
          </div>
        </div>
        <div class="pmd-text-field-container pmd-text-field-with-icon demo-text-field">
          <div class="pmd-text-field">
            <div class="pmd-text-field-icon material-icons">edit</div>
            <input type="text" class="pmd-text-field-input">
            <label class="pmd-floating-label">dence</label>
            <div class="pmd-line-ripple"></div>
          </div>
          <p class="pmd-text-field-helper">Helper Text</p>
        </div>
      </div>
    </div>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
