<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ripple - pmd Demo</title>
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <main class="root">
        <h1 id="component-name">Ripple</h1>
        <div class="demo-area">
            <div class="demo-content">
                <div id="demo-ripple" class="pmd-ripple">click</div>
            </div>
        </div>
    </main>
    <script defer type="module" src="./index.js"></script>
</body>
</html>
