<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App Bar - pmd Demo</title>
  <link rel="stylesheet" href="../../../index.css">
</head>
<body>
  <header class="demo-appbar-animation pmd-top-appbar pmd-top-appbar--prominent">
    <section class="pmd-top-appbar-section pmd-top-appbar-section--align-start">
      <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
      </button>
      <div class="pmd-top-appbar-title">App Bar</div>
    </section>
    <section class="pmd-top-appbar-section pmd-top-appbar-section--align-end">
      <button class="pmd-top-appbar-navigation-icon pmd-button pmd-button-icon">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
        </svg>
      </button>
    </section>
  </header>
  <main class="pmd-top-appbar--fixed-adjust" style="padding: 20px;">
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
  </main>
  <script defer type="module" src="./index.js"></script>
</body>
</html>
